FRONTEND_LINK = "*"
POSTGRES_HOST = localhost
DEV_POSTGRES_DB= storefront
TEST_POSTGRES_DB=test_storefront
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
NODE_ENV=dev
TOKEN_SECRET=your_jwt_secret
JWT_EXPIRES_IN=90d
EMAIL_HOST=your_email_host
EMAIL_PASSWORD=your_email_password
BCRYPT_PASSWORD=your_bcrypt_secret
SALT_ROUNDS=10
